@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth !important;
}

* {
  scroll-behavior: smooth !important;
  text-decoration: none !important;
  list-style: none;
}
.btn-wishlist {
  background-color: #ffb433 !important;
  text-transform: uppercase;
  font-size: 13px !important;
  padding: 5px 8px !important;
  border-radius: 4px !important;
  color: #fff !important;
  float: right !important;
  text-transform: uppercase;
}
.btn-wishlist:hover {
  background-color: #0f7c7c !important;
}
.text-small {
  font-size: 0.7rem;
}
.select-f {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cui-input-color, rgba(44, 56, 74, 0.95));
  border: 1px solid var(--cui-input-border-color, #bfcbd9);
  border-radius: 2px !important;
  height: 34px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select-f:focus {
  border: 1px solid #5679a3 !important;
  color: #4770a3;
  border: none;
  outline: none;
}

.form-control,.form-control-textarea{
  border: 1px solid #bfcbd9 !important;
  padding: 4px 8px !important;
  border-radius: 2px !important;
  font-size: 13px !important;
}
.form-control {
  height: 34px !important;
}
label {
  font-weight: 400;
  font-size: 13px;
  color: #2d2d2d;
  margin-top: 7px;
}

.control-label,
label {
  font-weight: 400;
  font-size: 13px;
  color: #2d2d2d;
  margin-bottom: 7px;
}
.form-control:focus {
  border: 1px solid #5679a3 !important;
  box-shadow: none !important;
  border: none;
  outline: none;
}
.form-control-textarea:focus {
  border: 1px solid #5679a3 !important;
  box-shadow: none !important;
  border: none;
  outline: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #bfcbd9 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: #bfcbd9 !important;
}

::placeholder {
  color: #bfcbd9 !important;
}

.select-1 {
  border: 1px solid #bfcbd9;
  padding: 4px 8px;
  font-size: small !important;
  width: 16vw;
  color: #bfcbd9;
}
.select-1:focus {
  border: 1px solid #5679a3 !important;
  color: #4770a3;
  border: none;
  outline: none;
}
.drop-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//Global fonts
body {
  font-family: "Poppins", sans-serif !important;
}
.container-pages {
  background-color: #eeeff4;
  height: 100vh !important;
  overflow: scroll !important;
  margin: 70px 0 0 0 !important;
  width: 100% !important;
  padding: 20px 30px !important;
}
.containers {
  height: 100vh !important;
  display: flex;
  overflow: hidden;
}
.p-btn {
  color: #fff!important;
  background-color: #5EDF2D !important;
  border: #5EDF2D !important;
  border-radius: 10rem !important;
  padding: 12px 38px 12px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  width: auto !important;
  letter-spacing: 1.7px !important;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}
.p-btn:hover {
  color: #757575;
  background-color: #eceff2;
  border-color: #eceff2;
  box-shadow: 0 1px 10px rgba(248, 249, 250, 0.4);
}
.task-panel {
  background: #fff;
  border: 1px solid #dce1ef;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  border: 1px solid #dce1ef;
}

.f-btn {
  color: #fff !important;
  background-color: #27645c !important;
  border-color: #27645c !important;
  border-radius: 10rem !important;
  padding: 10px 38px 10px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  width: auto !important;
  -webkit-transition: 0.15s linear !important;
  transition: 0.15s linear !important;
  text-transform: uppercase !important;
  outline: none !important;
  letter-spacing: 1.7px !important;
  cursor: pointer;
}

//Global scrollbar
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1b621;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #323d47;
  letter-spacing: 0.5px;
}
p {
  font-size: 0.9rem;
  // font-weight: 300 !important;
}
hr {
  border-color: #aab5c2 !important;
}
.btn-create {
  text-transform: uppercase;
  font-size: 13px !important;
  border: none !important;
  padding: 5px 8px !important;
  border-radius: 4px !important;
  //  -webkit-transition: all .15s ease-in-out !important;
  color: #fff !important;
  background-color: #0ea2a2 !important;
}
.btn-create:hover {
  background-color: #118c8c !important;
}
.section-header small {
  display: inline-block;
  font-size: 0.6875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.5rem;
  word-spacing: 2px;
  color: rgba(153, 153, 153, 0.6);
}
.lead {
  font-size: 1.1rem;
  font-weight: 500;
}
.fade-up {
  animation-name: fade-up;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.container {
  padding: 2.5rem 1.5rem !important;
}
.container-home {
  padding: 4rem 0rem 0rem 0rem !important;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  border: 2px solid rgb(83, 82, 82);
  cursor: pointer;
}

.overlayy {
  // position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  opacity: 95;
  border-radius: inherit;
}
.oy {
  z-index: 5;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 12px;
  padding: 10px;
}

.all-card {
  display: flex;
  justify-content: center;
  max-width: 300px;
  border: 0;
  width: 100%;
  margin-inline: auto;
  background: transparent;
  border: none !important;
}
.media {
  display: flex;
}
.card-title {
  font-weight: 500;
  color: white !important;
  letter-spacing: -0.02em;
  line-height: 33px;
  font-style: normal;
  font-size: 1.2rem;
  padding-bottom: 4px;
}

.card-description {
  font-weight: 500;
  line-height: 25px;
  color: hsla(0, 100%, 100%, 0.5);
  font-size: 14px;
  max-width: 470px;
}
.card-icon-i {
  font-size: 34px;
  color: rgb(224, 227, 234);
}
.section-img {
  width: 30vw;
  border-radius: 8px;
}

.border-right {
  border-right: 1px solid #f0f0f0 !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
  color: #dcdcdc !important;
  position: absolute !important;
  left: -80% !important;
}

.hide-arrow {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.parallax-container:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(243, 243, 243, 0.579) 0%,
    rgba(243, 243, 243, 0.579) 100%
  );
}
.contact-pg {
  .card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 230px;
    height: 180px;
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
    color: black;
    a {
      font-size: 1rem;
      font-weight: 100;
      color: #50a1ff;
      transition: 0.6s ease-in;
    }
  }
  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #205e55;

    height: 155px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  .card:hover::before {
    transition-delay: 0.2s;

    transform: scale(40);
  }

  .card:hover {
    color: #ffffff !important;
    a {
      color: #ffffff !important;
    }
  }

  .card p {
    padding: 5px 0;
    font-size: 0.87891rem !important;
    color: #757575;
  }
}

.modal-content {
  width: fit-content !important;
}

.modal-header {
  background: linear-gradient(to right, #008b8b 0, #64a9a9 37%, #c0e6e6 100%);
  border-radius: 6px;
  color: #fff;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: transparent;
}
.css-1mbunh-MuiPaper-root {
  box-shadow: none !important;
}
.text-info {
  color: #008ece !important;
}

//homepage
.icon_homepage {
  font-size: 2rem;
  margin-right: 11px;
}
.zzz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0vh 10vw;

  z-index: 3;
}

/// mobile view
@media screen and (max-width: 720px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  .section-2 {
    display: none;
  }
  .container {
    padding: 0rem !important;
  }
  .container-home {
    padding: 2rem 0rem 0rem 0rem !important;
  }
  .vdo-1 {
    width: 100vw !important;
  }
  .home-img {
    display: none;
  }
  .section-header {
    text-align: center;
  }
  .offcanvas {
    width: 78vw !important;
  }

  .search-btn {
    letter-spacing: 1.5px !important;
    width: auto;
    font-size: 10px !important;
    font-weight: 500;
    padding: 4px 12px;
  }
  .zzz {
    padding: 0vh 4vw;
  }

  .contact-pg {
    .card {
      border-radius: 10px;
      width: 125px;
      height: 150px;
      padding: 3px;
      position: relative;

      a {
        font-size: 0.7rem;
      }
    }
    .card p {
      padding: 0px;
      font-size: 0.7rem !important;
    }
  }
}
